:root {
  /* Colors */

  --color--white: #f2f2f2;
  --color--grey: #d2cdbe;
  --color--black: #161717;
  --color--dark-green: #304f26;
  --color--green: #87a361;
  --color--warm-green: #93954a;
  --color--blue-green: #728794;
  --color--light-green: #c5d34a;
  --color--yellow-green: #e3ca4c;

  /* Font size */
  --font-large: 48px;
  --font-mLarge: 35px;
  --font-medium: 28px;
  --font-regular: 22px;
  --font-small: 18px;
  --font-micro: 12px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /*Size*/
  --size-border-radius: 4px;

  /*Animation duration*/
  --animation-duration: 300ms;
}

/* Universial tags */

* {
  box-sizing: border-box;

  margin: 0;
}

body {
  font-family: "PT Sans", sans-serif;
  background-color: var(--color--white);
  color: var(--color--black);
}

a {
  text-decoration: none;
  color: var(--color--black);
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}

/* Typography */

h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  margin: 16px 0px;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  margin: 8px 0;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  margin: 8px 0;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  margin: 4px 0;
}

button {
  border: none;
  background-color: transparent;
}

section {
  padding: 50px;
  width: 100%;
  height: 100vh;
  text-align: center;
}

/* Navbar */

#navbar {
  position: fixed; /*항상 제일 위에 고정*/
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  width: 100%;
  height: auto;
  background-color: transparent;
  color: var(--color--dark-purple);
  transition: all var(--animation-duration) ease-in-out;
  box-shadow: 0 -2px 10px 4px rgba(0 0 0/20%);
  z-index: 1;
}

.navbar__logo {
  display: flex;
  align-items: center;
  margin: 6px 0;
  padding-left: 8px;
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
}

#navbar.navbar__dark {
  background-color: var(--color--grey);
}

.navbar__logo a {
  padding-left: 8px;
  color: var(--color--dark-green);
}

.navbar__menu {
  display: flex;
}

.navbar__menu__item {
  padding: 4px 8px;
  margin: 2px 10px;
  cursor: pointer;
  font-weight: var(--weight-semi-bold);
  border-radius: var(--size-border-radius);
}

.navbar__menu__item.active {
  border: solid 1.5px var(--color--dark-green);
}
.navbar__menu__item:hover {
  border: 1.5px solid var(--color--dark-green);
}

.nav_togleBtn {
  display: none;
  position: absolute;
  top: 10px;
  right: 22px;
  font-size: var(--font-medium);
  color: var(--color--dark-green);
}

/* HOME */

.home_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profileimg {
  width: 25%;
  height: 25%;
  transform: translateY(60%);
  border-radius: 4px;
  box-shadow: 3px 4px 4px var(--color--blue-green);
}
.home_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
  transform: translateY(100%);
}
.greeting,
.intro {
  transform: translateX(30%);
  font-size: 40px;
  color: var(--color--dark-green);
}
.intro {
  line-height: 120%;
  margin-bottom: 32px;
}

/* curser js effect*/
.intro .home__title + span {
  border-left: 0.15rem solid var(--color--blue-green);
  animation: blink 0.7s ease-in-out infinite;
}

@keyframes blink {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.socials {
  display: flex;
  justify-content: space-evenly;
  transform: translateX(50px);
}

.social {
  font-size: var(--font-mLarge);
  color: var(--color--green);
}

/* About Me */

#aboutme h2 {
  margin-bottom: 32px;
  text-align: center;
}

.aboutme {
  margin: 0 auto 32px;
  width: 80%;
  font-size: var(--font-small);
  text-align: left;
  line-height: 2;
}
.education {
  margin-left: 120px;
}
.education table {
  border-spacing: 16px;
}

.education .collegeImg {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  box-shadow: 3px 4px 4px var(--color--blue-green);
}

.collegeName {
  text-align: left;
}

/*Skills*/

#skills h2 {
  margin-bottom: 60px;
  text-align: center;
  color: var(--color--dark-green);
}

.skills_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.skills_description,
.skills {
  width: 70%;
}
.skills_description {
  margin-bottom: 32px;
  padding: 0 12px;
  text-align: left;

  font-size: var(--font-regular);
}
.skills {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 4px;
  background-color: var(--color--grey);
}
.skills li {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-evenly;
  margin-bottom: 32px;
}

.skill i {
  font-size: var(--font-large);
  margin: 32px 0 5px 5px;
  color: var(--color--warm-green);
}

/*Project*/

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#projects h2 {
  text-align: center;
  margin-bottom: 32px;
}

.slide__container {
  margin: 0 auto;
  width: 60%;
  height: 70%;
  padding: 15px;
  position: relative;
  background-color: var(--color--grey);
  border-radius: 4px;
}

.slide__container .slide {
  width: 95%;
}

.details {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(50%);
}
.details a {
  width: 45%;
}
.project__img {
  display: block;
  width: 100%;
  height: 40%;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 25px;
  text-align: left;
  width: fit-content;
  height: auto;
}
.project__title {
  font-size: var(--font-medium);
  margin-bottom: 20px;
}

.language,
.project__description {
  margin-left: 13px;
}

.language {
  margin-bottom: 10px;
  padding: 0 4px;
  width: fit-content;
  font-size: var(--font-regular);
  background-color: var(--color--dark-green);
  color: var(--color--white);
  border-radius: 4px;
}

.slide__container .slide.fade {
  animation: fade 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

.slide__container .prev,
.slide__container .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  transition: all 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  color: var(--color--blue-green);
}

.slide__container .prev:hover,
.slide__container .next:hover {
  background-color: var(--color--blue-green);
  color: var(--color--white);
}

.slide__container .prev {
  left: 2px;
}

.slide__container .next {
  right: 2px;
}

.project__title {
  text-align: center;
}

.dots__container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.dots__container .dot {
  cursor: pointer;
  margin: 5px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--color--yellow-green);
}

.dots__container .dot.active {
  border: 2px solid var(--color--green);
}

/*Contact Me*/

#contactme {
  height: auto;
  color: var(--color--dark-green);
}

#contactme h2 {
  margin-bottom: 60px;
}
.co_socials {
  display: flex;
  justify-content: space-evenly;
  margin-top: 32px;
}
.co_social {
  margin-bottom: 32px;
  font-size: var(--font-medium);
}

/* Arrow Up */

.arrowUp {
  position: fixed;
  bottom: 45px;
  right: 45px;
  width: 70px;
  height: 70px;
  border: 1px solid var(--color--dark-green);
  background-color: var(--color--dark-green);
  border-radius: 50%;
  font-size: var(--font-large);
  color: var(--color--yellow-green);
  padding: 8px 10px;
  opacity: 0;
  transition: opacity 200ms ease-in;
  cursor: pointer;
}
.arrowUp.visible {
  opacity: 1;
}

@media screen and (max-width: 768px) {
  /*navbar*/

  #navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 24px;
    background-color: var(--color--grey);
  }

  .navbar__menu {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .navbar__menu__item li {
    width: 100%;
    text-align: center;
  }
  .nav_togleBtn {
    display: block;
  }
  .navbar__menu.active {
    display: flex;
  }

  /* Home */

  .home_container {
    flex-direction: column;
  }

  .profileimg {
    width: 50%;
    height: 50%;
  }

  .home_box {
    width: 100%;
  }
  .greeting,
  .intro {
    font-size: var(--font-regular);
  }

  .social {
    transform: none;
  }
}
