:root {
  /* Colors */

  --color--white: #f2f2f2;
  --color--grey: #d2cdbe;
  --color--black: #161717;
  --color--dark-green: #304f26;
  --color--green: #87a361;
  --color--warm-green: #93954a;
  --color--blue-green: #728794;
  --color--light-green: #c5d34a;
  --color--yellow-green: #e3ca4c;

  /* Font size */
  --font-large: 48px;
  --font-mLarge: 35px;
  --font-medium: 28px;
  --font-regular: 22px;
  --font-small: 18px;
  --font-micro: 12px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /*Size*/
  --size-border-radius: 4px;

  /*Animation duration*/
  --animation-duration: 300ms;
}

/* Universial tags */

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "PT Sans", sans-serif;
  background-color: var(--color--white);
  color: var(--color--black);
}

a {
  text-decoration: none;
  color: var(--color--black);
}
section {
  padding: 30px;
  width: 100%;
  height: 100vh;
  text-align: center;
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}

/* Typography */

h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  margin: 16px 0px;
}

h2 {
  color: var(--color--dark-green);
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  margin: 8px 0;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  margin: 8px 0;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  margin: 4px 0;
}

button {
  border: none;
  background-color: transparent;
}

/* Navbar */
#navbar {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  background-color: transparent;
  transition: all var(--animation-duration) ease-in-out;
  box-shadow: 0 -2px 10px 4px rgba(0 0 0/20%);
  z-index: 10;
}
#navbar.navbar__dark {
  background-color: var(--color--grey);
}

.navbar__logo a {
  margin: 8px 12px;
  text-align: center;
  font-size: var(--font-mLarge);
  font-weight: 700;
  color: var(--color--dark-green);
}

.navbar__menu {
  display: flex;
}

.navbar__menu__item {
  margin: 2px 12px;
  padding: 4px 6px;
  font-size: var(--font-small);
  font-weight: 700;
  color: var(--color--dark-green);
  border: 1px solid transparent;
}

.navbar__menu__item.active {
  border: solid 1.5px var(--color--dark-green);
  border-radius: var(--size-border-radius);
}

.navbar__menu__item:hover {
  border: solid 1.5px var(--color--dark-green);
  border-radius: var(--size-border-radius);
  cursor: pointer;
}

.nav_togleBtn {
  display: none;
  position: absolute;
  top: 4px;
  right: 12px;
  text-align: center;
  color: var(--color--dark-green);
  font-size: var(--font-regular);
}

/* Home */
.home_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.home_container_img {
  display: block;
  margin: auto 10%;
  width: 45%;
  height: 45%;
  box-shadow: 3px 4px 4px var(--color--blue-green);
  border-radius: var(--size-border-radius);
}

.home_container_text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 5%;
  width: 100%;
}

.greeting,
.intro {
  font-size: var(--font-mLarge);
  color: var(--color--dark-green);
}

/* curser js effect*/
.intro .home__title + span {
  border-left: 0.15rem solid var(--color--blue-green);
  animation: blink 0.7s ease-in-out infinite;
}

@keyframes blink {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.socials {
  display: flex;
  justify-content: space-between;
  margin-top: 5%;
  width: 50%;
}

.social {
  font-size: var(--font-medium);
  color: var(--color--dark-green);
}

.social i:hover {
  transform: scale(1.2) rotate(3deg);
  color: var(--color--warm-green);
}

/* Skills 
색조합 더 생각해보자.
*/
#skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.skill__description {
  margin: 32px;
}
.icons__box {
  display: flex;
  justify-content: space-around;
  width: 70%;
}
.icon {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  border-radius: 5px;
  color: var(--color--dark-green);
  background-color: var(--color--grey);
  overflow: hidden;
}
.icon i,
.icon span {
  position: relative;
  z-index: 1;
}
.icon i {
  font-size: 3rem;
}

.learning::after {
  content: "";
  position: absolute;
  background-color: var(--color--grey);
  inset: 4px;
}

.learning::before {
  content: "";
  position: absolute;
  width: 150px;
  height: 140%;
  background: linear-gradient(var(--color--white), var(--color--dark-green));
  animation: animate 4s linear infinite;
}
@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Projects */

#projects h2 {
  margin-bottom: 50px;
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.slide__container {
  position: relative;
  margin: 0 auto;
  padding: 15px;
  width: 70%;
  height: 70%;
  background-color: var(--color--grey);
  border-radius: var(--size-border-radius);
}

.slide__container .slide {
  width: 95%;
  height: 100%;
}

.slide__container .slide.fade {
  animation: fade 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

.slide__container .prev,
.slide__container .next {
  cursor: pointer;
  position: absolute;
  width: auto;
  height: 100%;
  top: 0;
  padding: 12px;
  transition: all 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  color: var(--color--blue-green);
}

.slide__container .prev:hover,
.slide__container .next:hover {
  background-color: var(--color--blue-green);
  color: var(--color--white);
}

.slide__container .prev {
  left: 2px;
}

.slide__container .next {
  right: 2px;
}

.dots__container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.dots__container .dot {
  cursor: pointer;
  margin: 5px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--color--yellow-green);
}

.dots__container .dot.active {
  border: 2px solid var(--color--green);
}

.details {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  margin-left: 35px;
  width: 100%;
  height: 100%;
}

.details a {
  width: 80%;
}
.details img {
  display: block;
  width: 100%;
  height: auto;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 50px;
  width: 90%;
}

.project__title {
  font-size: var(--font-mLarge);
}
.language {
  margin-bottom: 12px;
  font-size: var(--font-regular);
  color: var(--color--dark-green);
}

/* About Me */
#aboutme h2 {
  margin-bottom: 30px;
}
.aboutme_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
}

.aboutme {
  margin-bottom: 80px;
  width: 70%;
}

.educationList {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 30px;
  width: 70%;
}

.collegeImg {
  display: block;
  margin-right: 30px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  box-shadow: 3px 4px 4px var(--color--blue-green);
}
.schoolName {
  font-weight: 700;
}

/* Contact Me */

#contactme {
  height: auto;
}
#contactme h2 {
  margin-bottom: 50px;
}

.co_socials {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.co_social {
  margin: 0 50px;
  font-size: var(--font-medium);
  color: var(--color--dark-green);
}

.copyright {
  font-size: var(--font-small);
  color: var(--color--blue-green);
}

/* Arrow Up */
.arrowUp {
  position: fixed;
  bottom: 45px;
  right: 45px;
  width: 70px;
  height: 70px;
  border: 1px solid var(--color--dark-green);
  background-color: var(--color--dark-green);
  border-radius: 50%;
  font-size: var(--font-large);
  color: var(--color--yellow-green);
  padding: 8px 10px;
  opacity: 0;
  transition: opacity 200ms ease-in;
  cursor: pointer;
}
.arrowUp.visible {
  opacity: 1;
}

/* Media Query */

@media screen and (max-width: 768px) {
  #navbar {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-color: var(--color--grey);
  }
  .navbar__logo a {
    padding: 8px 4px;
    font-size: var(--font-medium);
  }

  .navbar__menu {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .navbar__menu__item li {
    width: 100%;
    text-align: center;
  }
  .nav_togleBtn {
    display: block;
  }
  .navbar__menu.active {
    display: flex;
  }
  .navbar__menu__item.active,
  .navbar__menu__item:hover {
    width: 98%;
  }

  /* Home */

  .home_container {
    flex-direction: column;
  }
  .home_container_img {
    width: 70%;
    margin-bottom: 20%;
  }
  .home_container_img::after {
    content: "";
    display: block;
    padding-bottom: 100%;
  }

  .home_container_text {
    align-items: center;
  }
  .home_container_text .intro {
    margin-left: 20%;
    align-self: self-start;
  }
  .greeting,
  .intro {
    font-size: var(--font-regular);
  }
  .social {
    margin-right: 10px;
    justify-content: center;
  }

  /* Skills */
  .skill__description {
    font-size: 1em;
    text-align: center;
  }
  .icon {
    margin-right: 10px;
    width: 60px;
    height: 60px;
  }
  .icon i {
    font-size: 2rem;
  }
  .icon span {
    font-size: 10px;
  }
  /* Project */

  .slide__container {
    width: 90%;
  }

  .details {
    flex-direction: column;
    margin-left: 9px;
  }
  .details img {
    position: relative;
    top: -30px;
  }

  .details a {
    width: 90%;
  }

  .description {
    margin-left: 10px;
    width: 90%;
  }

  .project__title {
    font-size: var(--font-regular);
  }
  .language {
    font-size: var(--font-small);
    margin-bottom: 8px;
  }
  /* About Me */
  #aboutme {
    height: auto;
  }
  .aboutme {
    margin-bottom: 30px;
    width: 90%;
    font-size: var(--font-small);
  }

  .educationList {
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 30px;
    width: 90%;
  }

  .collegeImg {
    display: none;
  }
  .schoolName {
    font-weight: 700;
  }
  /*Contact Me*/
  #contactme {
    height: auto;
  }
  /* Arrow up */
  .arrowUp {
    width: 40px;
    height: 40px;
    padding: 4px 6px;
    font-size: var(--font-small);
  }
}
